.cloak-customer .customer-form-wrap
	margin-h auto
	border 1px solid grey
	border-radius radius*2
	fluid padding, spacing-l, spacing-m
	background white
	box-shadow 0 0 50px rgba(#ccc, .2)

	input
		width 100%
		margin-v 10px
		padding 10px

	>>> input
		margin-bottom spacing-s

	.account-btn-wrap
		display flex
		align-items center
		justify-content flex-start
		margin-bottom spacing-s

		>>> .btn
			margin-right spacing-xs
			margin-bottom 0

	>>>	#rc_login // Need greater specificity
			margin 0
			padding 0
			display inline-block
			width auto
			text-align left

			// Remove styles that were given to `p`s that were expected to be in the
			// header
			p
				font-family inherit
				font-weight inherit
				font-size inherit
				line-height inherit
				text-align left
				max-width none

				// Display to the right of forgot password
				display inline

			a
				text-decoration underline

.customer-form-actions
	.btn
		margin-bottom spacing-xs

	.additional-actions li
		margin-bottom spacing-xxs
		fluid-font 'body', 13, 13, grey

		a, .link
			text-decoration underline
			color primary-color
			display inline-block
			cursor pointer
			&:not(:first-child)
				margin-left 4px


