.cloak-customer
	margin-top header-h
	fluid padding-v, spacing-xl, spacing-l

.cloak-customer, .cloak-address-modal

	// reset margins on ul
	ul
		padding 0

	// dashboard view
	&.account

		h1
			margin-bottom spacing-s

		.vf-field
			display block
			margin-bottom spacing-xs
			width 100%

			>>> label
				fluid-font 'bold', 13, 13, grey
				display block
				margin-bottom spacing-xxs

		>>> .vf-error-message
			display block
			margin-top 4px
			fluid-font 'bold', 13px, 11px, DarkRed

		// orders
		.orders, .addresses, .line-items
			display flex
			align-items stretch
			flex-wrap wrap

		.dashboard-segment
			margin-bottom spacing-xl

	// Layout for the customer pages
	+on-desktop()
		&.account
			display flex
			align-items flex-start

			>>> .customer-navigation
				margin-right spacing-l

			.main-column
				flex-grow 1

	// headline row, flex for button layout
	.headline
		display flex
		align-items center
		margin-bottom spacing-xs
		flex-wrap wrap

		h1, h2, h3, h4
			flex-grow 1

	.pill
		display inline-block
		border-radius 100px
		font-size 11px
		font-weight bold
		padding-h spacing-s
		padding-v 5px
		background rgba(primary-color, .1)

		&.fulfilled
			background rgba(primary-color, .7)
			color white

	// inline plus on the button
	.inline-plus
		display flex

		.icon-plus
			position relative
			top 2px
			margin-right spacing-xxs


// basic styles for shopify loading pages
.shopify-loading-page
	margin-v spacing-l
	text-align center
