.cloak-customer .form-wrap
	margin-h auto
	border 1px solid ui-grey
	border-radius radius*2
	fluid padding, spacing-l, spacing-m
	background white
	box-shadow 0 0 50px rgba(#ccc, .2)
	max-width 600px

	label
		display block
		width 100%
		margin-v 10px
		padding-top 5px // to clear labels

		span
			display block
			fluid-font 'bold', 12, 12
			letter-spacing .05em
			margin-bottom 3px


		>>> input
			width 100%
			padding 10px
			display block

	>>> input
		margin-bottom spacing-s

.form-actions
	margin-top spacing-m

	.btn
		margin-bottom spacing-xs

	li
		margin-top spacing-s
		margin-bottom spacing-xxs
		fluid-font 'bold', 13, 13, black

		a, .link
			text-decoration underline
			color primary-color
			display inline-block
			cursor pointer
			&:not(:first-child)
				margin-left 4px


