.customer-modal
	padding spacing-s
	text-align left
	max-height 100vh
	overflow scroll

	.style-h4
		margin-bottom 5px

	.headline
		display flex
		justify-content space-between
		padding-top 30px

		.style-h3
			flex-grow 1

		.order-date
			fluid-font 'bold', 14, 14, #999
			margin-bottom 10px

	.half
		display inline-block
		width 50%

	.line-items
		display flex
		align-items stretch
		flex-wrap wrap

	hr
		background ui-grey
		height 1px
		margin-v spacing-m
		border none

	.errors
		padding spacing-xs
		margin-v spacing-xs
		border-radius radius
		background ui-error
		fluid-font 'bold', 13, 11, white

	>>>
		.bvm-contents
			text-align left
			padding spacing-m
			max-height 75vh

		.bvm-slot
			border-radius 10px

		.bvm-close
			top 20px
			right 20px

			:after
				font-size 30px
				content "\00d7"
				color primary-color
