.customer-modal
	padding spacing-s
	text-align left
	max-height 100vh
	overflow scroll

	.headline
		justify-content space-between

	hr
		background ui-grey
		height 1px
		margin-v spacing-xs
		border none

	.pill
		margin-top spacing-xxs

	.errors
		padding spacing-xs
		margin-v spacing-xs
		border-radius radius
		background ui-error
		fluid-font 'bold', 13, 11, white
