.customer-card
	width calc(50% - 20px)
	margin-right 20px
	margin-bottom 20px
	border 1px solid ui-grey
	border-radius radius
	padding-top spacing-xs
	padding-bottom spacing-s
	padding-h spacing-s + 5
	background white
	word-break break-word

	.row
		margin-h 0

	+tablet-down()
		width 100%

	div
		margin-v 4px

	.actions
		margin-top spacing-xs
		display flex
		align-items center

		span, a
			display block
			margin-right 5px

	.warning
		fluid-font 'bold', 14, 12, warning-color
		margin-top spacing-xxs

	.canceled
		border 1px solid warning-color

	.inline-cta
		color primary-color
		text-decoration underline
		cursor pointer
		margin-right spacing-xxs
		fluid-font 'bold', 14, 14
