.cloak-customer .form-wrap
	margin-h auto
	border 1px solid ui-grey
	border-radius radius*2
	fluid padding, spacing-l, spacing-m
	background white
	box-shadow 0 0 50px rgba(#ccc, .2)
	max-width 600px

